@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');

:root {
	--color-primary: #af231c;
	--color-secondary: #af231c;
	--color-accent: #af231c;
	--color-background: #000;
	--color-text: #af231c;
}

.primary-color-filter {
	filter: brightness(0) saturate(100%) invert(14%) sepia(87%) saturate(3792%) hue-rotate(354deg) brightness(87%) contrast(87%);
}

body {
	background: var(--color-background);
	color: var(--color-text);
	font-family: monospace;
}

a {
	color: var(--color-primary);
}

h1 {
	color: var(--color-text);
	border-bottom: 1px solid var(--color-primary);
}

.post {
	margin-bottom: 1em;
}

textarea,
input {
	background: var(--color-background);
	color: var(--color-text);
	border: 1px solid var(--color-primary);
}

.avatar-container {
	display: flex;
	width: 50px;
	height: 50px;
	align-items: center;
	justify-content: center;
}

.avatar {
	max-width: 50px;
	max-height: 50px;
}

.header nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.post-image {
	max-width: 400px;
	border: 1px solid var(--color-primary);
	margin-top: 4px;
}

.signature {
	border-top: 1px dashed var(--color-primary);
	margin-top: 5px;
	padding-top: 5px;
	color: var(--color-text);
	font-size: 0.9em;
	opacity: 0.8;
}

.post {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.post .profile-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	margin-right: 10px;
	width: 100px;
}

.post .post-content {
	flex: 1;
}

.gothic-text {
	font-family: "Lavishly Yours", cursive;
	font-weight: 700;
	font-style: normal;
	font-size: 2.5em
}

/* Mobile adjustments */
@media (max-width: 600px) {

	html,
	body {
		overflow-x: hidden;
	}

	body {
		margin: 5px;
		font-size: 14px;
	}

	.post {
		flex-direction: column;
		align-items: flex-start;
	}

	.avatar {
		max-width: 32px;
		max-height: 32px;
		margin-bottom: 4px;
	}

	textarea {
		width: 100%;
	}

	input[type="text"],
	input[type="password"] {
		width: 100%;
	}

	.post-image {
		max-width: 100%;
		height: auto;
	}
}
